/* Page */

/*
 *.page {
 *
 *}
 */

/* Body */


.page__body {
    font-family: 'CircularStd';
}

section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    transition: width 1s ease, height 1s ease;
}
