/* Fonts */
@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Black.woff2') format('woff2'),
    url('fonts/CircularStd-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
